.App {
  text-align: center;
}

.menu,
.cart {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuItem,
.cartItem {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 10px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.addBtn,
.removeBtn {
  border-radius: 10px;
  border: none;
  background: green;
  color: white;
  font-size: medium;
  padding: .5em;
  font-weight: bold;
  cursor: pointer;
}

.removeBtn {
  background: red;
}
